@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-image: url('casal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-card{
    width: 700px;
    height: 460px;
    background: rgba(252, 86, 86, 0.300);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

h1{
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgba(255, 0, 0, 1);
    margin-top: -30px;
}

.match-midle{
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.match-card-form{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
}

.form-item input[type="text"]{
    border: none;
    outline: none;
    background:rgba(253, 179, 179, 0.478);
    padding: 1rem 1.5rem;
    border-radius: 100px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-top: -20px;
}

.match-card-header{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.match-card-buton button{
    margin-left: 290px;
    border: none;
    outline: none;
    background:rgba(253, 179, 179, 0.478);
    padding: 1rem 1.5rem;
    border-radius: 100px;
}

.match-midle #coracao1{
    width: 180px;
}

.match-midle{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
}

.local-porcentagem{
    width: 80px;
    height: 80px;
    background: green;
    border-radius: 50%;
    margin-top: 15px;
}





